/*------------------------------------------------------------------------------------ Basic Format*/
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: sans-serif;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.4rem;
}

h3 {
	font-size: 1.3rem;
}
/*------------------------------------------------------------------------------------ /Basic Format*/

/*------------------------------------------------------------------------------------ Navbar*/
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-content: space-around;
	background-color: #333;
	color: white;
	height: 7vh;
}

.brand-logo {
	background-color: red;
	margin-left: 1rem;
}

.navbar-links ul {
	margin: 0 1rem 0 0;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	text-decoration: none;
	color: white;
	padding: 1rem;
	display: block;
}

.navbar-links li:hover {
	background-color: rgb(170, 38, 38);
	text-transform: uppercase;
	transition: 1s;
}

.toggle-button {
	position: absolute;
	top: 0.1rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
}

@media (max-width: 600px) {
	.toggle-button {
		display: flex;
	}

	.navbar-links {
		display: none;
		width: 100%;
	}

	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-links ul {
		width: 100%;
		flex-direction: column;
	}

	.navbar-links li {
		text-align: center;
	}

	.navbar-links li a {
		padding: 0.5rem 1rem;
	}

	.navbar-links.active {
		display: flex;
	}
}
/*------------------------------------------------------------------------------------ /Navbar*/

/*------------------------------------------------------------------------------------ Collapsible sections*/

/*------------------------------------------------------------------------------------ /Collapsible sections*/

/*------------------------------------------------------------------------------------ Hero image*/
.hero-image {
	height: 40vh;
	width: 100%;
	object-fit: cover;
}
/*------------------------------------------------------------------------------------ /Hero image*/

/*------------------------------------------------------------------------------------ Map*/
#map {
	height: 360px;
	width: 100%;
}
/*------------------------------------------------------------------------------------ /Map*/
