/* ---------------------------------------------------Google Fonts Library */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Red+Rose:wght@400;700&display=swap");

/* ---------------------------------------------------/Google Fonts Library */

/*------------------------------------------------------------------------------------ Basic Format*/
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: sans-serif;
	padding-top: 4.5rem;
	background-color: #ededf4;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: #010320;
}

h1 {
	font-size: 1.5em;
	color: #d20b0b;
	background-color: rgb(122, 255, 133);
	margin-top: 8px;
}

h2 {
	font-size: 1.4rem;
	background-color: lightskyblue;
	padding-top: 1rem;
}

h3 {
	font-size: 1.3rem;
}
/*------------------------------------------------------------------------------------ /Basic Format*/

/*------------------------------------------------------------------------------------ Navbar*/
.navbar {
	background-color: lawngreen;
}
/*------------------------------------------------------------------------------------ /Navbar*/

/*------------------------------------------------------------------------------------ Collapsible sections*/

/*------------------------------------------------------------------------------------ /Collapsible sections*/

/*------------------------------------------------------------------------------------ Hero image*/
.hero-image {
	height: 40vh;
	width: 100%;
	object-fit: cover;
}
/*------------------------------------------------------------------------------------ /Hero image*/

/*------------------------------------------------------------------------------------ Map*/
#map {
	height: 360px;
	width: 100%;
}
/*------------------------------------------------------------------------------------ /Map*/
