/*------------------------------------------------------------------------------------ Basic Format*/
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: sans-serif;
	padding-top: 4.5rem;
}

h1 {
	font-size: 1.5rem;
	background-color: lightsalmon;
}

h2 {
	font-size: 1.4rem;
	background-color: lightskyblue;
	padding-top: 1rem;
}

h3 {
	font-size: 1.3rem;
}
/*------------------------------------------------------------------------------------ /Basic Format*/

/*------------------------------------------------------------------------------------ Navbar*/
.navbar {
	background-color: lawngreen;
}
/*------------------------------------------------------------------------------------ /Navbar*/

/*------------------------------------------------------------------------------------ Collapsible sections*/

/*------------------------------------------------------------------------------------ /Collapsible sections*/

/*------------------------------------------------------------------------------------ Hero image*/
.hero-image {
	height: 40vh;
	width: 100%;
	object-fit: cover;
}
/*------------------------------------------------------------------------------------ /Hero image*/

/*------------------------------------------------------------------------------------ Map*/
#map {
	height: 360px;
	width: 100%;
}
/*------------------------------------------------------------------------------------ /Map*/
